.imgWrapper {
    flex: 1;
}
.wrapper {
	min-height: 100%;
}

.favorite {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* margin-bottom: 20px; */
    cursor: pointer;
}

.favorite svg {
    fill: #FFFFFF;
}

.favorite svg path:first-child {
    fill: #7b8e98;
}

.favoriteActive svg {
    fill: #F44336;
}

.favoriteActive svg path:first-child {
    fill: #F44336;
}

.likes {
    margin-left: 0.5rem;
}
.tags {
    background-color: aqua;
}