.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, .5);
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.popup__content {
    position: relative;
    padding: 60px;
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 30px;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.popup__content.active {
    transform: scale(1);
}

