.card-icon-expend {
    transform: rotate(180deg);
}

.card-icon {
    transform: rotate(0deg);
    margin-left: auto;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__favorite {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
}

.card__favorite svg {
    fill: #FFFFFF;
}

.card__favorite svg path:first-child {
    fill: #7b8e98;
}

.card__favorite_is-active svg {
    fill: #F44336;
}

.card__favorite_is-active svg path:first-child {
    fill: #F44336;
}

